html {height: 100%; padding: 0; margin: 0;}
body{padding: 10px 0 0 10px;
	width: 960px; 
	position:relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 130%;
	background: -webkit-linear-gradient(top, rgb(216, 219, 239), #fff) no-repeat fixed;
	background: -moz-linear-gradient(top, rgb(169, 228, 240), #fff) no-repeat fixed;
	background: -o-linear-gradient(top, #D8EBEF, #fff) no-repeat fixed;
	background: -ms-linear-gradient(top, #D8EBEF, #fff) no-repeat fixed;
}

.header-container {border-bottom: 2 px solid white}

.footer-container, .main aside {border-top: 2 px solid white}

.header-container, .footer, .main-aside {background: rgb(173, 210, 224)}

nav ul {float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;}

nav a{display: block;
	color: #334F5A;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #6596A5;
	border-radius: 5px;
	background: #fff;
}

a{color: #09147a;}
a:hover{text-decoration: underline;}
a:visited{color: #990000;}

.main-container{
	position:relative;
	margin: 0 auto;
}




#header .title{font-size: 26px; margin-bottom: 35px; color: #334F5A;}


#header ul li{
	display: block-inline;
	list-style: none;
	margin-right: 3px;
}

#header ul li:first-child{margin-right: 0px;}



#header li a:hover{color: #fff; background: #6596A5;}
















.main-photo {position: center;
	border: solid 1px aqua;
	border-radius: 50%;
}

.MainHeader {text-align: center;
	margin: 10px;
};



p{margin: 0 0 10px 0;}





.menu{
	float: left;
	font-size: 12px;
	font-weight: bold;
}

#main{margin: 20px 0;}

#main ul{margin: 10px 0; padding: 0px;}
#main ul li{list-style: none;}

.highlight{
	-moz-border-radius:5px;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
}
#footer{
	margin: 0 auto;
	width: 100%;
	border-top: solid 2px #fff;
	bottom: 0;
	background: #6596A5;
	color: #fff;
	padding: 0 0 0 10px;
}

.footer-text{
	width: 960px;
	margin: 0 auto;
	padding: 2px;
}

#footer h3{
	color: #fff;
	padding: 0;
	margin: 0;
}

#footer .acknoledgements{margin-left: 30px;
	font-size: 0.85em;
}
.intro:first-letter {
	float: left;
	font-size: 30px;
	font-family: georgia;
	padding: 0px 5px;
	margin: 5px 7px 0 0;
}

#footer a{color: #fff;
	font-size: 14}

img{
	border: solid 1px #D8EBEF;
	background: white;
}

.left{float: left; margin: 0 10px 10px 0;}
.right{float: right;margin: 0 0 10px 10px;}
.clear{clear: both;}

h1{color: #990000; font-weight: normal; font-size: 22px;}
h2{color: #990000; font-size: 16px; margin-top: 0px;}

#header {
	display: flex;
	flex-direction: column;
	height: 100px;
}

@media  (min-width: 769px) {
	#header, .flex, .menu, .title {display: flex}
	.flex {
		flex-wrap: wrap;
		flex-direction: column;
	}
}

@media (min-width: 1025) {
	#container {
		display: flex;
		flex-grow: 1;
	}
}